@import "./../../../../color.scss";
.Tabs{
    border-radius: 5px;
    height: 100%;
    .base-nav-container{
        margin-top: 30px;
    }

    .nav-tabs{
        border-bottom: 1px solid rgba(255,255,255, .1);
        .nav-link{
            color: #fff;
            &.active{
                background: transparent;
                border-color: transparent;
                border-bottom: 2px solid $contrast-color;
            }
            &:first-child{
                padding-left: 0;
            }
        }
    }
}
